@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif; /* Устанавливаем шрифт глобально для всего сайта */
  background-color: #F9F8F6;
  color: #0A2540;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
