:root {
  /* default text color */
  --color-primary: #0A2540;

  /* default bg color */
  --color-bg-page: #F9F8F6;

  /* default grey divier color */
  --color-divider: #E0E0E0;

  /* default grey border color */
  --color-grey-border: #ffffff80;

  /* default green button bg color */
  --color-green-bg-button-: #2F6A4F;

  /* default green button bg hover color */
  --color-green-bg-button-hover: #1B4332;

  /* default blue button bg hover color */
  --color-blue-bg-button-hover: #1a3a5c;

  /* default white button text color */
  --color-white-text-button: #FFFFFF;

  /* default yellow accent bg color */
  --color-yellow-section-accent: #fbf5ee;

  /* default white bg color */
  --color-default-white: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #F9F8F6;
  color: #0A2540;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
